black
flake8
ipython
isort
jupyterlab
loguru
mlxtend
matplotlib==3.10.8
pandas
seaborn==0.13.2
optuna
optuna-integration[mlflow]
mlflow==3.12.0
shap
notebook
xgboost
numpy
pip
pytest
python-dotenv
scikit-learn
tqdm
typer
protobuf==3.20.3
setuptools
-e .
